@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

html {
    scroll-behavior: smooth;
    height: 100vh;
}

.App {
  text-align: center;
  overflow-x: hidden;
  overflow-y:inherit;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content-wrap {
    display: block;
    background-color: #f9f9f9;
    margin-top:71px;
    /* height:90vh; */
  }


.search {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
  /* background-color: #58499922; */
  flex-direction: column;
}

.text-search {
    font-size: 40px;
    margin-bottom: 30px;
}

.search-container {
    width: 350px;
    background-color: hsla(0, 0%, 100%, 0.838);
    height: 50px;
    border-radius: 30px;
}

.custom-search-bar .ant-select-selector {
    background-color: transparent !important; /* Change to your desired background color */
    border: none !important;
    border-radius: 30px !important;
    font-size: 20px !important;
    outline: none !important;
    height:40px !important;
    margin-top: 5px !important;
    margin-left: 5px !important;
  }


  /* IDK why cant remove the blue border when focus */
  .custom-search-bar .ant-select-selector:hover, 
  .custom-search-bar .ant-select-selector:active, 
  .custom-search-bar .ant-select-selector:focus {
    border-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
  }

  .custom-search-bar .ant-select-selection-search-input {
    font-size: 20px !important;
  }

.search-button {
    background-color: transparent;
    border: none !important;
    box-shadow: none;
    transition: 0.3ms;
}

.search-button:hover {
    background-color: hsla(0, 0%, 83%, 0.611) !important;
    border-radius: 50%;
}

.search-button:active {
    background-color: hsla(0, 0%, 83%, 0.932) !important;
    border-radius: 50%;
}

.search .search-icon {
    color: white;
}


* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}


/* Navbar / HEADER */



.navbar {
  padding: 20px;
  position: fixed;
  width:100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #f2f2f2;
  top: 0;
  background-color: #f9f9f9;
  box-shadow: 0 3px 5px rgba(38,35,32,0.1);
  /* background-color: white; */
}



.navbar .home-btn {
  text-decoration: none;
}

.navbar .home-btn h1 {
  color: #553898;
  margin-left:10px;
}

.navbar .home-btn:hover {
  background-color: transparent;
}

.navbar .links {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap:20px;
  margin-right:40px;
}

.navbar .links .link-btn {
  text-decoration: none;
  color: #553898;
  font-weight: 800;
  transition: 0.3s;
}

.navbar .links .user-account {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar .links .user-account p {
  font-weight: 800;
  color: #282c34;
}
.navbar .links .link-btn:hover {
  color: hsla(258, 46%, 41%, 0.5);
}

.navbar .links .login-btn {
  background-color: #553898;
  color: #f1f1f2;
  border-radius: 5px;
  border: none;
  padding: 6px 12px 6px 12px;
  margin-left: 12px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.navbar .links .login-btn:hover {
  background-color: hsla(258, 46%, 41%, 0.5);
}

.navbar .links .logout-btn {
  background-color: #553898;
  color: #f1f1f2;
  border-radius: 5px;
  border: none;
  padding: 6px 12px 6px 12px;
  margin-left: 12px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.navbar .links .logout-btn:hover {
  background-color: hsla(258, 46%, 41%, 0.5);
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.resultBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.location-header,
.equipment-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../public/dumbbell.png");
    background-blend-mode: multiply;
    background-color: #574999;
}

.location-header h1,
.equipment-header h1 {
    color: white;
    margin-right: 30px;
    font-size: 50px;
}


/* HOME */


.home {
  /* height: 90vh; */

}

.home .home-welcome {
  display: block;
  text-align: left;
  padding-left: 40px;
  padding-top: 100px;
  max-width: 600px;
  margin-bottom: 200px;
}

.home h1 {
  font-weight: normal;
  font-size: 48px;
  color: #553898;
}

.home .home-welcome h1 #brand-name {
  font-weight: 800;
  color: #553898;
  font-size: 3rem;
}

.home p {
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
  font-size: 1.2rem;
  color: #553898;
}

.home .home-welcome .button-container {
  display: block;
  flex-direction: column;

}


.home .home-welcome .button-container .search-gym-btn {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  margin-right: 20px;
  font-size: 1.2rem;
  margin-top: 5px;
  transition: 0.3s;
  text-decoration: none;
  background-color: #553898;
  color: #f1f1f2;
}

.home .home-welcome .button-container .search-gym-btn:hover {
  background-color: #55389898;
}

.home .home-welcome .button-container .search-equip-btn {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  margin-right: 20px;
  font-size: 1.2rem;
  margin-top: 5px;
  transition: 0.3s;
  text-decoration: none;
  background-color: #f1f1f2;
  color: #553898;
}

.home .home-welcome .button-container .search-equip-btn:hover {
  background-color: #f1f1f249;
}

.home .home-exclusively-made {
  margin-bottom: 200px;
}

#exclusively {
  font-weight: 800;
  color: #00CED1;
}

.home .home-stats {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  gap: 50px;
}

#gym-count, #equip-count {
  font-weight: 800;
  color: #00CED1;
}


.login {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;
  flex-direction: column;
}

/* DB Editor */

.db-editor {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.db-editor .top-banner {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto; /* Adjust height as needed */
}

.db-editor .top-banner img {
  width: 100%;
  height: auto;
  display: block;
}

.db-editor .top-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:hsla(258, 46%, 41%, 0.5); /* Purple color with transparency */
  pointer-events: none; /* Ensure overlay does not interfere with interactions */
}

.db-editor .top-banner .banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f1f1f1;
  font-size: 2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%; /* Ensure text stays within the container */
  padding: 0 10px; /* Optional: Add padding for better readability */
  box-sizing: border-box;
}

/* .inventoryForm {
  margin-top: 40px;
  margin-bottom:40px;
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inventoryForm .form-container {
  background-color: #00CED1 !important;
  width: 300px;
  padding: 20px 40px 20px 40px;
}

.inventoryForm.form-container .input-box {
  width: 80px !important;
} */

.inventoryForm {
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inventoryForm .form-container {
  background-color: transparent !important;
  width: 90%; /* Use a percentage width for responsiveness */
  max-width: 500px; /* Set a maximum width */
  padding: 40px;
  /* border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

@media (max-width: 768px) {
  .inventoryForm .form-container {
    width: 100%;
    padding: 20px; /* Adjust padding for smaller screens */
  }
}

.inventoryForm .form-container .ant-form-item {
  display: flex;
  flex-direction: column;
}

.inventoryForm .form-container .ant-form-item:last-child {
  align-items: center;
  width: 100%; /* Ensure the last item takes full width */
}

.inventoryForm .form-container .ant-form-item .input-box {
  width: 100%; /* Increase the width of the input boxes */
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
}

.submit-btn {
  background-color: #553898; /* Purple background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important; /* Shadow effect */
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s !important; /* Transition effect */
}

.submit-btn span {
  color: white;
}

.submit-btn:hover {
  background-color: hsla(258, 46%, 41%, 0.7) !important; /* Darker purple for hover state */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important; /* Increased shadow on hover */
}

.submit-btn:focus {
  background-color: #553898 !important; /* Even darker purple for focus state */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important; /* Increased shadow on focus */
}

.appFooter {
  text-align: center;
  background-color: #574999;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bold;
  position: relative;
  bottom: 0;
  width: 100%;
  height:1vh;
}